.DS_Store
.AppleDouble
.LSOverride
.idea/**
resources/test.py
update/
engine/etc/error.log
engine/etc/userinfo.json
*.log
/.DS_Store
tflearn_logs/*
Icon
._*
*.pyc
*.out
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
cmake-build-debug/
*.iws
/out/
atlassian-ide-plugin.xml
.idea/replstate.xml
/.rakeTasks
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.iml
modules.xml
*.ipr
unittests.py
temp/
dev/