beautifulsoup4
deepspeech
dill
dlib
face-recognition
face-recognition-models
h5py
imutils
Keras-Applications
Keras-Preprocessing
netifaces
nltk
numpy
opencv-python
Pillow
PyAudio
pyttsx3
regex
requests
scikit-learn
scipy
snowboy
spacy
SpeechRecognition
tensorboard==1.10.0
tensorflow==1.10.0
tensorflow-estimator==1.10.0
tflearn
tqdm
